<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qijian.mapper.UserMapper">
    <!--    查询全部-->
    <select id="list" resultType="com.qijian.po.User">
        SELECT *
        from user
    </select>

    <!--    通过id查询,普通的查询的时候知道是一条数据的时候 在后面加入 limit 1 sql执行速度更快-->
    <select id="getById" parameterType="integer" resultType="com.qijian.po.User">
        select *
        from user
        where id = #{id} limit 1
    </select>
    <!--    分页查询加模糊查询-->
    <select id="pages" parameterType="map" resultType="com.qijian.po.User">
        select *
        from user
        where name like concat('%', #{search}, '%') limit #{index}
            , #{size}
    </select>
    <!--    插入数据-->
    <insert id="add" parameterType="com.qijian.po.User">
        insert into user (id, name, age)
        values (#{id}, #{name}, #{age})
    </insert>
    <!--    更新数据-->
    <update id="update" parameterType="com.qijian.po.User">
        update user
        set name = #{name},
            age=#{age}
        where id = #{id}
    </update>
    <!--    通过id删除数据-->
    <delete id="deleteById" parameterType="integer">
        delete
        from user
        where id = #{id}
    </delete>

</mapper>